@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Nunito&display=swap");

@font-face {
  font-family: "PhosphateProSolid";
  src: url("/fonts/PhosphateProSolid.eot");
  src: url("/fonts/PhosphateProSolid.eot") format("embedded-opentype"),
    url("/fonts/PhosphateProSolid.woff2") format("woff2"),
    url("/fonts/PhosphateProSolid.woff") format("woff"),
    url("/fonts/PhosphateProSolid.ttf") format("truetype"),
    url("/fonts/PhosphateProSolid.svg#PhosphateProSolid") format("svg");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }
  *::-webkit-scrollbar {
    @apply hidden;
  }
  .font-stretch-normal {
    font-stretch: normal;
  }
}

.scroll-down {
  transform: translate3d(0, -100%, 0);
}

.scroll-up {
  transform: translate3d(0, 0, 0);
}

#header {
  @apply w-full fixed top-0 left-0 transition-all duration-300 ease-in-out;
  filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
  z-index: 999;
}

.containt {
  @apply w-full h-full;
}
